.main-container {
  background-color: #121E2A;
  color:#FEFEFE;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.buttons-section {
  display: flex;
}

.lib-section {
  display: flex;
  max-height: 95%;
  height: 95%;
}